@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello Azure DevOps!!!</h1>
    <h1> Welcome to Wipro</h1>
    <h2> Hi Ritu, Good Morning!!! :) </h2> <h2> Will you Marry me! </h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
